{% load action_buttons %}

<div class="dropdown">
    <button
        class="btn btn-sm btn-secondary dropdown-toggle m-1"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        Change Instance Type
    </button>
    <div class="dropdown-menu">
        {% for instance_type in instance_types %}
            {% environment_action_button button_type="update" environment=environment text=instance_type instance_type=instance_type %}
        {% endfor %}
    </div>
</div>