{% load action_buttons %}
<button type="button" class="btn btn-sm {{ button_class }} m-1" data-toggle="modal" data-target="#{{ modal_id }}">
  {{ button_text }}
</button>
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ modal_title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if instance_types != None %}
            <select class="form-select" id="form-select" size="5" aria-label="size 5 select example">
              {% for instance_type in instance_types %}
                <option value="instance_type">{{ instance_type }}</option>
              {% endfor %}
            </select>
        {% else %}
            <p>{{ modal_body }}</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary inside-modal-button" data-dismiss="modal">Close</button>
        {% environment_action_button button_type=action_button_type environment=environment project=project %}
      </div>
    </div>
  </div>
</div>
