{% load action_buttons %}

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3">
                <strong>
                    Project
                </strong>
            </div>
            <div class="col-md-3">
                <strong>
                    Details
                </strong>
            </div>
            <div class="col-md-2">
                <strong>
                    Status
                </strong>
            </div>
            <div class="col-md-4">
                <strong>
                    Actions
                </strong>
            </div>
        </div>
    </li>    
    {% for environment, project in environment_project_pairs %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'published_project' project.slug project.version %}" target="_blank">
                        {{ project }}
                    </a>
                </div>
                <div class="col-md-3">
                    <small>
                        <i>Environment type:</i> {{ environment.type.value|capfirst }}<br>
                        <i>Instance type:</i> {{ environment.instance_type.value }}<br>
                        <i>Region:</i> {{ environment.region.value }}
                    </small>
                </div>
                <div class="col-md-2">
                    {{ environment.status.value|capfirst }}
                </div>
                <div class="col-md-4">
                    <div class="d-flex flex-wrap">
                        {% if environment.is_running or environment.is_paused %}
                            <a href="{{ environment.url }}" target="_blank" class="btn btn-sm btn-success m-1">Open</a>
                            {% environment_modal_button environment=environment project=project button_type="modal_pause" %}
                        {% else %}
                            {% environment_modal_button environment=environment project=project button_type="modal_start" %}
                        {% endif %}
                        {% environment_modal_button environment=environment project=project button_type="modal_instance" %}
                        {% environment_modal_button environment=environment project=project button_type="modal_destroy" %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
