{% load action_buttons %}

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-3">
                <strong>
                    Project
                </strong>
            </div>
            <div class="col-md-3">
                <strong>
                    Details
                </strong>
            </div>
            <div class="col-md-2">
                <strong>
                    Status
                </strong>
            </div>
            <div class="col-md-4">
                <strong>
                    Actions
                </strong>
            </div>
        </div>
    </li>    
    {% for environment, project in environment_project_pairs %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <strong>
                        {{ project }}
                    </strong>
                </div>
                <div class="col-md-3">
                    <small>
                        Instance type: {{ environment.instance_type.value }}<br>
                        Region: {{ environment.region.value }}<br>
                        Environment type: {{ environment.type.value }}
                    </small>
                </div>
                <div class="col-md-2">
                    {{ environment.status.value }}
                </div>
                <div class="col-md-4">
                    {% if environment.is_running or environment.is_paused %}
                        <div class="d-flex flex-wrap">
                            {% if environment.is_running %}
                                <div class="d-inline-block">
                                <button type="button" class="btn btn-link m-1">
                                    <a href="{{ environment.url }}" target="_blank">Open</a>
                                </button>
                                </div>
                                {% environment_modal_button environment=environment button_type="modal_pause" %}
                            {% else %}
                                {% environment_modal_button environment=environment button_type="modal_start" %}
                            {% endif %}
                            {% environment_modal_button environment=environment button_type="modal_instance" %}
                            {% environment_modal_button environment=environment button_type="modal_destroy" %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>

{% block local_js_bottom %}
<script>
    (function() {
        const csrfToken = getCookie('csrftoken');

        function send_request(request_data, http_method, url, button_type) {
            let data = request_data;
            if (button_type === "update") {
                const instance = document
                    .getElementById('form-select')
                    .find("option:selected")
                    .text();
                if (instance === "") return;

                data = JSON.parse(data);
                data["instance_type"] = instance;
                data = JSON.stringify(data)
            }
            fetch(url, {
                method: http_method,
                body: data,
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": csrfToken,
                    "Content-Type": "application/json",
                },
            });
        }
    })();
</script>
{% endblock %}
