{% extends 'base.html' %}

{% load static %}

{% load project_templatetags %}

{% block title %}Create Identity{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/project-home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% include "message_snippet.html" %}
  <div class="jumbotron">
    <h1>Create Identity</h1>
    {% lorem 20 w %}.
  </div>

<!-- Research environments -->
  <div class="card" >
    <div class="card-header">
      <h2>Create Identity</h2>
        <form action="{% url 'identity_provisioning' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create Identity</button>
        </form>
    </div>
    </ul>
  </div>

</div> <!-- /container -->
{% endblock %}
