{% extends 'base.html' %}

{% load static %}

{% load project_templatetags %}

{% block title %}Research environments{% endblock %}

{% block local_css %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/project-home.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% include "message_snippet.html" %}
  <div class="jumbotron">
    <h1>Research Environments</h1>
    {% lorem 20 w %}.
  </div>

<!-- Research environments -->
  <div class="card" >
    Set up billing account
  </div>

</div> <!-- /container -->
{% endblock %}
